@model IEnumerable<TabloidMVC.Models.PostTag>

@{
    ViewData["Title"] = "Manage Tags";
}

<div class="container pt-5">
    <h1>Post Tags</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Tag.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tag.Name)
                    </td>
                    <td>
                        <a asp-controller="PostTag" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-primary mx-1" title="Delete">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <p>
        <a class="btn btn-primary" asp-action="AddPostTag" asp-route-id="@Model.ToList()[0].PostId">Add Tag</a>
    </p>
</div>
