@model TabloidMVC.Models.Tag

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Tag</h1>

<h3>Error: Can't Deactivate all Admins.  Please create another admin before deactivating.'</h3>
<div>
    <hr />

        <a asp-action="Index">Cancel</a>
</div>
