@model TabloidMVC.Models.ViewModels.UserProfileEditViewModel

@{
    ViewData["Title"] = "EditUserType";
}

<h1>Edit User Type</h1>

<h4>UserProfileEditViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditUserType">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">         
                <label asp-for="UserTypeId" class="control-label">User Type</label>
                <select asp-for="UserTypeId" class="form-control">
                <span asp-validation-for="UserTypeId" class="text-danger"></span>
                <option value="">Add Tag</option>
                        @foreach (UserType userType in Model.UserTypes)
                        {
                            <option value="@userType.Id">@userType.Name</option>
                        }
                    </select>
                </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

